<div class="checkbox-container">
    <input type="checkbox" id="checkBoxId">
    <label for="checkBoxId">checkbox label</label>
</div>

<style>
    .checkbox-container label,
    .checkbox-container input[type="checkbox"] {
        cursor: pointer;
    }
</style>