<%- include('header'); -%>
  <body>
    <div id="container01">
	<a href="/hub.els">
	      <div id="logo01">
	        <div style="margin: 0px auto 0px auto; width: 130px;">
	          <div style="float: left; padding: 0px 2px 0px 0px; color: rgba(150,150,150,1);">TeamB</div>
	          <div id="loadingIconNoLoad"></div>
	          <div id="loadingIcon"></div>
	          <div style="float: left; padding: 0px 0px 0px 2px; color: rgba(150,150,150,1);">x</div>
	          <div class="clear"></div>
	        </div>
	      </div>
	</a>
      <div id="containerAppLoad">
        <a href="/hub.ejs">Home</a><br><br>
         <div class="containerItemLarge containerItem1 transformBackground">
           <div class="containerItemTitle transform">
             Text Editor
           </div>
         </div>
        <div id="loginNoticePlaceholder">
          <div id="loginNotice" class="loginNoticeError"></div>
        </div>
        <form id="appLoadForm" method="post"  action="" autocomplete="off">
          <input id="inputAppLoadFilename" name="mindmap[name]" class ="ease" type="text" placeholder="Dateinamen wählen" list="dataListData">
            <datalist id="dataListData">
            </datalist>
          </input>
          <input id="inputAppLoadSubmit" class="ease" type="submit" value="weiter"/>
        </form>
      </div>
    </div>
    <div id="containerWarningShutdown" class="containerWarningShutdown">
            <div class="containerWarningMessage">PI was shutdown</div>
    </div>
    <div id="containerWarningServertime" class="containerWarningServertime">
      <div class="containerWarningMessage">Servertime was set</div>
    </div>
    <div id="containerWarningExporting" class="containerWarningExporting">
    </div>
    <div id="containerWarningImporting" class="containerWarningImporting">
    </div>
    <script>
        var username        = "<%= username %>";
	// LARA 09.08.2016
	var escUsername	= username.replace("&", "%26").replace("=", "%3D").replace("?", "%3F");
	var color	= "<%= color %>";
	// LARA end
        data = <%- JSON.stringify(data) %>;
    </script>
    <script src="../scripts/appEtherpadLoad.js"></script>
  </body>
</html>
