<%- include('navbar'); -%>
<link rel="stylesheet" href="../styles/filebrowserNavbar.css">
    </div>
      <iframe src="http://teambox.local:8080" class="second-row"></iframe>
    </div>
    <script>
      //sets the filebrowser navbar element to active
      $(document).ready(function(){
        $("#filebrowser").addClass("active");
      });
    </script>
    <script>var username = "<%= username %>";</script>
    <script src="../scripts/filebrowser.js"></script>
  </body>
</html>