</body>

</html>

<script>
    if (socket) {
        socket.on('shutdownPi', function (message) {
            showPopUp('simplePopup', message);
        });

        socket.on('clearAllData', async function (message) {
            showPopUp('simplePopup', message);
            try {
                const res = await fetch('/clearallcookies', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                if (data.message) {
                    let message = data.message;
                    console.log(message);
                }
            } catch (error) {
                console.error(error);
            }
        })
    }

</script>