</body>

</html>

<script>
    if (socket) {
        socket.on('shutdownPi', function (message) {
            showPopUp('simplePopup', message);
        });

        socket.on('clearAllData', function (message) {
            showPopUp('simplePopup', message);
            //Redirect to a clear cookies page.
        })
    }

    function showPopUp(id, message) {
        $('#' + id).text(message);
        document.getElementById(id + "Container").classList.add("active");
        document.getElementById("overlay").classList.add("active");
    }

    function hidePopUp(id) {
        document.getElementById(id + "Container").classList.remove("active");
        document.getElementById("overlay").classList.remove("active");
    }

    function okFunction() {
        hidePopUp("simplePopup");
    }

</script>