<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="../styles/navbar.css">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>
    <script type="application/javascript" src="http://teambox.local:3000/_jquery/jquery-1.12.3.js"></script>
    <!-- It must be a direkt http link to the server or it will not work, the documentation of socket.io is not quite right-->
    <script src="http://teambox.local:3000/socket.io/socket.io.js"></script>
    <meta charset="utf-8">
    <title>TeamBox</title>
</head>
<body>
  <div class="row-container">
    <div class="first-row">
      <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <span class="hamburger"></span>
        </label>
        <label class="logo">TeamBox</label>
        <ul>
          <li><a href="/">Hub</a></li>
          <li><a href="/appEtherpadLoad.ejs" id="etherpad">Text Editor</a></li>
          <li><a href="/appMindmapLoad.ejs" id="mindmap">Brain Storming</a></li>
          <li><a href="/filebrowserLoad.ejs" id="filebrowser">File Shareing</a></li>
          <li><a href="/appEthercalcLoad.ejs" id="ethercalc">Spreadsheet</a></li>
          <li><a href="/appDrawLoad.ejs" id="drawpad">Drawing Pad</a></li>
          <li><a href="#" id="wekan">Project Management</a></li>
        </ul>
      </nav>