<!DOCTYPE html>

<html>

<head>
	<title>Drawing Pad</title>
	<link rel="stylesheet" href="styles/styleDraw.css" />
	<script src="p5/p5.js"></script>
	<script src="p5/p5.dom.js"></script>
	<script src="_jquery/jquery-1.12.3.js"></script>
	<script src="http://teambox.local:3000/socket.io/socket.io.js"></script>
	<script src="scripts/NewDrawObjects.js"></script>
</head>

<body>
	<ul class="menu">
		<li><a href="javascript:void(0)" id="pencil" title="draw" class="active"><img src="styles/media/emptyDraw.png"
					class="menuImg"></a></li>
		<li><a href="javascript:void(0)" id="rect" title="draw rectangles"><img src="styles/media/emptyDraw.png"
					class="menuImg"></a></li>
		<li><a href="javascript:void(0)" id="circle" title="draw circles"><img src="styles/media/emptyDraw.png"
					class="menuImg"></a></li>
		<li><a href="javascript:void(0)" id="line" title="draw lines"><img src="styles/media/emptyDraw.png"
					class="menuImg"></a></li>
		<li>
			<div id="pencilSlider" class="draw" title="change thickness">
				<input id="slid" type="range" min="5" max="100" value="15">
			</div>
		</li>
		<li><a href="javascript:void(0)" id="text" class="text" title="text"><img src="styles/media/emptyDraw.png"
					class="menuImg"></a>
			<select name="curFontFace" id="fontFamily" title="font family">
				<option value="Georgia">Georgia</option>
				<option value="Helvetica">Helvetica</option>
				<option value="CourierNew">Courier New</option>
			</select>
			<select name="curFontSize" id="fontSize" title="font size">
				<option value="10">10pt</option>
				<option value="11">11pt</option>
				<option value="12">12pt</option>
				<option value="14">14pt</option>
				<option value="16">16pt</option>
				<option value="18">18pt</option>
				<option value="20">20pt</option>
				<option value="22">22pt</option>
				<option value="24">24pt</option>
				<option value="26">26pt</option>
				<option value="28">28pt</option>
				<option value="36">36pt</option>
				<option value="48">48pt</option>
				<option value="72">72pt</option>
			</select>
		</li>
		<li><a href="javascript:void(0)" id="fill"><img src="styles/media/emptyDraw.png" class="menuImg"></a></li>
		<li>
			<div id="colors" class="color"></div>
		</li>
		<li id="menuRight">
			<ul id="submen">
				<li id="submenItemName">Name: <%= username %>
				</li>
				<li id="submenItemGroup">Group: <%= group %>
				</li>
				<li><a href="javascript:void(0)" id="back" title="Home" class="back">Home</a></li>
				<li><a href="javascript:void(0)" id="save" class="download" title="Download Image">Download Image</a>
				</li>
				<li><a href="javascript:void(0)" id="saveFile" class="save" title="Save to USB">Save to USB</a></li>
				<li>
					<input type="file" id="fileElem" accept="image/*" style="display:none"
						onchange="handleFile(this.files)">
					<a href="javascript:void(0)" id="fileSelect" class="import" title="Import Image">Import Image</a>
				</li>
				<li><a href="javascript:void(0)" id="clear" class="refresh" title="Delete Drawing">Delete Drawing</a>
				</li>
			</ul>
		</li>
	</ul>

	<div id="sidebarItemSaveNotice"></div>

	<br />
	<div id="containerInfoRight"></div>
	<div id="foreground"></div>
	<script>var username = "<%= username %>";</script>
	<script>var data = '<%- JSON.stringify(data) %>';</script>
	<script src="../scripts/newappDrawFunctions.js"></script>
</body>

</html>