<div id="simplePopupContainer">
    <div id="simplePopup">
    </div>
    <div class="flex">
        <button onclick="okFunction()" class="TeamBox-button">OK</button>
    </div>
</div>
<div id="overlay"></div>

<script>
    function showPopUp(id, message) {
        $('#' + id).text(message);
        document.getElementById(id + "Container").classList.add("active");
        document.getElementById("overlay").classList.add("active");
    }

    function hidePopUp(id) {
        document.getElementById(id + "Container").classList.remove("active");
        document.getElementById("overlay").classList.remove("active");
    }

    function okFunction() {
        hidePopUp("simplePopup");
        window.location.href = "/";
    }
</script>