<%- include('navbar'); -%>
    </div>
      <iframe src="http://teambox.local:2000/" class="second-row"></iframe>
    </div>
    <script>
      //sets the wekan navbar element to active
      $(document).ready(function(){
        $("#wekan").addClass("active");
      });
    </script>
  </body>
</html>