<%- include('header'); -%>
  <body>
    <script>
        var username        = "<%= username %>";
	// LARA 09.08.2016
	var escUsername	= username.replace("&", "%26").replace("=", "%3D").replace("?", "%3F");
	var color	= "<%= color %>";
	// LARA end
    </script>
    <script src="scripts/wekanLoad.js"></script>
  </body>
</html>
