<%- include('authHeader'); -%>
    <form class="auth form">
        <div class="loaderflex">
            <div class="loader"></div>
        </div>
        <h2>Join Group</h2>
        <div style="display:flex; justify-content: center; align-items: center;">
            <h3 class="groupName">
                <%=group.name%>
            </h3>
        </div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <div class="password error"></div>
        <button>Join Group</button>
    </form>
    <script>
        let group = '<%-JSON.stringify(group)%>';
        group = JSON.parse(group);
        //console.debug(group);

        document.querySelector('.grouplogoutNavItem').remove();


        const form = document.querySelector('form');
        const passwordError = document.querySelector('.password.error');
        const loaderFlex = document.querySelector('.loaderflex');


        form.addEventListener('submit', async function (event) {
            event.preventDefault();

            //reset errors
            passwordError.textContent = '';

            //get  the values
            const password = form.password.value;
            try {
                // render loading Cyrcle and disable button
                loaderFlex.style.display = "flex";
                $('form button').addClass('disabled');
                //console.log(group.name);
                const res = await fetch('/groupJoin', {
                    method: 'POST',
                    body: JSON.stringify({ name: group.name, password }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                if (data.errors) {
                    // stop the loading Cyrcle to render and enable the button
                    loaderFlex.style.display = "none";
                    $('form button').removeClass('disabled');

                    passwordError.textContent = data.errors.password;
                    console.error(data.errors);
                    if (data.errors.group) {
                        location.assign('/groupJoin');
                    }
                }
                if (data.user && data.group) {
                    location.assign('/');
                }
            } catch (error) {
                // stop the loading Cyrcle to render and enable the button
                loaderFlex.style.display = "none";
                $('form button').removeClass('disabled');
            }
        });
    </script>
    <%- include('../footer'); -%>