<%- include('authHeader'); -%>
    <form class="auth form">
        <div class="loaderflex">
            <div class="loader"></div>
        </div>
        <h2>Create Group</h2>
        <label for="groupName">Group name</label>
        <input type="text" name="groupName" required>
        <div class="groupName error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <label for="confirmPassword">Confirm password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>
        <div class="password error"></div>
        <button>Create Group</button>
    </form>
    <script>
        const form = document.querySelector('form');
        const groupNameError = document.querySelector('.groupName.error');
        const passwordError = document.querySelector('.password.error');

        const loaderFlex = document.querySelector('.loaderflex');

        document.querySelector('.groupCreateNavItem').remove();
        document.querySelector('.groupSelectNavItem a').classList.add('btn');


        form.addEventListener('submit', async function (event) {
            event.preventDefault();

            //reset errors
            groupNameError.textContent = '';
            passwordError.textContent = '';

            //get  the values
            const groupName = form.groupName.value;
            const password = form.password.value;
            const confirmPassword = document.querySelector('#confirmPassword').value;

            if (password === confirmPassword) {
                try {
                    // render loading Cyrcle and disable button
                    loaderFlex.style.display = "flex";
                    $('form button').addClass('disabled');

                    const res = await fetch('/groupCreate', {
                        method: 'POST',
                        body: JSON.stringify({ groupName, password }),
                        headers: { 'Content-Type': 'application/json' }
                    });
                    const data = await res.json();
                    if (data.errors) {
                        // stop the loading Cyrcle to render and enable the button
                        loaderFlex.style.display = "none";
                        $('form button').removeClass('disabled');

                        groupNameError.textContent = data.errors.name;
                        passwordError.textContent = data.errors.password;
                    }
                    if (data.user && data.group) {
                        location.assign('/');
                    }
                } catch (error) {
                    // stop the loading Cyrcle to render and enable the button
                    loaderFlex.style.display = "none";
                    $('form button').removeClass('disabled');
                    console.error(error);
                }
            } else {
                passwordError.textContent = 'passwords do not match';
            }

        });
    </script>
    <%- include('../footer'); -%>