<%- include('authHeader'); -%>
    <link rel="stylesheet" href="../../styles/newHub.css">
    <div class="scroll-container">
        <div class="mainContainer">
            <div class="appList groupList">
                <h2 style="text-align: center; padding-bottom: 10px;">Select Group</h2>
                <% if(groupNameList) { %>
                    <% for (let index=0; index < groupNameList.length; index++) { %>
                        <% const element=groupNameList[index]; %>
                            <div onclick="groupSelected('<%=element%>')" class="containerItem">
                                <div class="containerItemTitle transform">
                                    <%=element%>
                                </div>
                            </div>
                            <% }%>
                                <% } %>

            </div>
        </div>
    </div>
    <script>
        const groupList = document.querySelector('.groupList');
        async function groupSelected(groupName) {
            try {
                const res = await fetch('/groupSelect', {
                    method: 'POST',
                    body: JSON.stringify({ groupName }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log(data);
                if (data.user && data.group) {
                    //location.assign('/');
                }
            } catch (error) {
                console.error(error);
            }
        }
    </script>
    <%- include('../footer'); -%>