<link rel="stylesheet" href="../../styles/popups.css">
<div id="groupLogoutPopupContainer">
    <div id="groupLogoutPopup">
    </div>
    <div class="flex">
        <button onclick="acceptGroupLogout()" class="TeamBox-button">allow</button>
        <button onclick="denyGroupLogout()" class="TeamBox-button" style="margin-left: 1rem;">deny</button>
    </div>
</div>
<%- include('../simplePopup'); -%>
    <script>
        let socket = io();

        socket.on('RequestGroupLogout', function () {
            let message = "Someone requested to logout the current group, if you are want to keep on working in the current group deny this request"
            showPopUp("groupLogoutPopup", message);
        });

        socket.on("GroupLogout", function (reason) {
            hidePopUp("groupLogoutPopup");
            showPopUp("simplePopup", reason);
        });

        socket.on("RejectedGroupLogoutFIN", function (reason) {
            hidePopUp("groupLogoutPopup");
        });

        function showPopUp(id, message) {
            $('#' + id).text(message);
            document.getElementById(id + "Container").classList.add("active");
            document.getElementById("overlay").classList.add("active");
        }

        function hidePopUp(id) {
            document.getElementById(id + "Container").classList.remove("active");
            document.getElementById("overlay").classList.remove("active");
        }

        function okFunction() {
            hidePopUp("simplePopup");
            window.location.href = "/";
        }

        function acceptGroupLogout() {
            socket.emit("GroupLogoutAccepted");
            console.debug("acceptGroupLogout");
            hidePopUp("groupLogoutPopup");
        }

        function denyGroupLogout() {
            socket.emit("RejectedGroupLogout");
            console.debug("denyedGroupLogout");
            hidePopUp("groupLogoutPopup");
        }
    </script>