<%- include('authHeader'); -%>
    <form class="auth form">
        <div class="loaderflex">
            <div class="loader"></div>
        </div>
        <h2>Group Logout</h2>
        <p>Do you rally want to Logout from</p>
        <br>
        <div class="flex">
            <h3>
                <%=group.name%>
            </h3>
        </div>
        <br>
        <p>If you are the last one logged in it will unload your group</p>
        <div class="flex">
            <button onclick="logout()">Logout</button>
            <button onclick="backToHome()">Cancle</button>
        </div>
    </form>
    <script>
        const groupName = '<%=group.name %>';
        const form = document.querySelector('form');
        form.addEventListener('submit', async function (event) {
            event.preventDefault();
        });

        document.querySelector('.grouplogoutNavItem').remove();

        function backToHome() {
            location.assign('/');
        }

        async function logout() {
            try {
                // render loading Cyrcle and disable button
                const loaderFlex = document.querySelector('.loaderflex');
                loaderFlex.style.display = "flex";
                $('form button').addClass('disabled');

                const res = await fetch('/groupLogout', {
                    method: 'POST',
                    body: JSON.stringify({ groupName }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const group = await res.json();
                if (group) {
                    location.assign('/groupJoin');
                }
            } catch (error) {
                console.error(error);
            }
        }
    </script>
    <%- include('../footer'); -%>