<%- include('header'); -%>

  <body>
    <div id="container01">
      loged out
      <br>
      <a href="/">continue</a>
    </div>
    <div id="containerWarningShutdown" class="containerWarningShutdown">
      <div class="containerWarningMessage">PI was shutdown</div>
    </div>
    <div id="containerWarningExporting" class="containerWarningExporting">
    </div>
    <%- include('../footer'); -%>