<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/styleBlack.css">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>
    <script type="text/javascript" src="_jquery/jquery-1.12.3.js"></script>
    <script src="_socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="container01">
      loged out
      <br>
      <a href="/">continue</a>
    </div>
    <div id="containerWarningShutdown" class="containerWarningShutdown">
            <div class="containerWarningMessage">PI was shutdown</div>
    </div>
    <div id="containerWarningExporting" class="containerWarningExporting">
    </div>    
  </body>
</html>
