@font-face {
  font-family: teamBoxFontRegular;
  src: url("fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /*box-sizing: border-box;*/
}

body, html {
  font-family: teamBoxFontRegular;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

.row-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.second-row {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

nav {
  background: #2573a7;
  height: 80px;
  width: 100%;
}

label.logo {
  color: #444;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #444;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #444;
  float: right;
  /*line-height: 80px;*/
  margin-top: 20px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 440px) {
  label.logo {
    font-size: 25px;
    padding-left: 15px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .checkbtn {
    display: block;
  }
  @media (max-height: 690px) and (max-width: 360px) {
    .active {
      display: none;
    }
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked~ul {
    left: 0;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

/*Hamburger ICON*/

.hamburger {
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-top: 0.2em solid #444;
  border-bottom: 0.2em solid #444;
}

.hamburger:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #444;
}

@media (max-height: 580px) and (max-width: 600px) {
  nav ul li {
    margin: 25px;
  }
}

@media (max-height: 430px) and (max-width: 600px) {
  nav ul li {
    margin: 5px;
  }
}

@media (max-height: 300px) and (max-width: 600px) {
  nav ul li {
    margin: auto;
  }
  nav ul {
    overflow: hidden;
    overflow-y: scroll;
  }
}

/*

##########################################################################
SPACER
##########################################################################




*/

body, nav, nav ul {
  background: #fafafa;
}

h1, h2, h3, h4, ul, li, a, p, input, label, button, div {
  margin: 0;
  padding: 0;
  font-family: teamBoxFontRegular;
  color: #444;
}

.btn {
  border-radius: 36px;
  background: #FEE996;
}

form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  width: 240px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

button {
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
}

header img {
  width: 250px;
  margin-right: 40px;
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}

header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

.auth.form {
  margin-top: 10%;
  padding-right: 45px;
}

li a:hover, li a.active, button:hover {
  border-radius: 36px;
  background-color: #f7efcf;
  color: #444;
}

label a:hover {
  padding: 2px;
  /*border-radius: 18px;
  background-color: #f7efcf;*/
  background-color: #fafafa;
  color: #444;
}

.disabled {
  pointer-events: none;
}

.flex {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.loaderflex {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.loaderflex .loader {
  margin-top: 200px;
  position: fixed;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}