/*
#############

Scroll Container

#############
*/

.scroll-container {
    overflow: scroll;
    height: 80vh;
    width: auto;
    overflow-x: hidden;
}

.mainContainer {
    margin-left: 1vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "appList" "userList";
    width: 98vw;
}

/*
#############

AppList

#############
*/

.appList, .userList, .containerItem, .videoList {
    margin: 0 auto;
    margin-top: 0px;
    padding: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    /*border-radius: 10px;*/
    background: white;
    text-decoration: none;
    list-style: none;
}

.appList, .videoList {
    grid-area: appList;
    width: 80vw;
    padding: 30px;
}

.containerItem {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f8f8f8;
    text-align: center;
    margin: 10px;
}

/*
#############

UserList bottom 

#############
*/

.userList {
    grid-area: userList;
    margin-top: 30px;
    padding: 30px;
    width: 80vw;
}

.userList .containerItem div {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
#############

Media Queries
Move the UserList to the right, fix it size to 250px and Enlarge the AppList

#############
*/

@media (min-width: 820px) {
    .mainContainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "appList userList";
    }
    .userList {
        height: fit-content;
        margin-top: 0px;
        margin-left: 10px;
    }
    .userList .containerItem {
        width: 250px;
    }
    .appList, .videoList {
        width: 50vw;
        height: fit-content;
    }
}

@media (min-width: 1000px) {
    .appList, .videoList {
        width: 60vw;
    }
}

@media (min-width: 1200px) {
    .appList, .videoList {
        width: 65vw;
    }
}

@media (min-width: 1400px) {
    .appList, .videoList {
        width: 70vw;
    }
}

@media (min-width: 1700px) {
    .userList .containerItem {
        width: 16vw;
    }
    .appList, .videoList {
        width: 75vw;
    }
}