
#visible{
	z-index:2000;
	position: absolute; 
	left: 0px; top: 50px;
}

#foregroundCanvas{
	z-index:4000;
}

.swatch{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
	z-index:7000;
	cursor: pointer;
}

.swatch.active{
    border: 2px solid white;
}

#fontSize, #fontFamily{
	float: right;
    height: 30px;
    padding: 5px 4px 8px 1px;
	margin: 6px;
	cursor: pointer; 
}

#fontFamily{
	margin-right: 10px;
}

#fontSize{
	margin-right: 0px;
}


.active{
	
}


.draw {
	position: relative;
    float: left; 
    margin: 6px 0;
}

.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
    z-index:9000;
    height: 40px;
    min-width:1300px;
    width: 100%; 
    margin: auto;
 
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
	z-index:9000;  
}

.menu li a {
    display: inline-block;
    padding: 0 10px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;
    background: #1f2024;
	opacity: 1;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

#pencil:hover{background: url(media/drawHover.png) no-repeat center; }
#rect:hover{background: url(media/rectHover.png) no-repeat center; }
#tria:hover{background: url(media/triaHover.png) no-repeat center; }
#circle:hover{background: url(media/circleHover.png) no-repeat center; }
#line:hover{background: url(media/lineHover.png) no-repeat center; } 
#text:hover{background: url(media/textHover.png) no-repeat center; } 
#fill:hover{background: url(media/fillHover.png) no-repeat center; } 

#pencil{background: url(media/drawHover.png) no-repeat center; }
#rect{background: url(media/rect.png) no-repeat center; }
#tria{background: url(media/tria.png) no-repeat center; }
#circle{background: url(media/circle.png) no-repeat center; }
#line{background: url(media/line.png) no-repeat center; }
#text{background: url(media/text.png) no-repeat center; } 
#fill{background: url(media/fill.png) no-repeat center; } 


.menu ul li {
	
    overflow: hidden;
    padding: 0;
}
 
.menu ul li a {
    width: 170px;
    padding: 4px 0 4px 40px;
    margin: 0;
 
    border: none;
    border-bottom: 1px solid #353539;
}

 #submen{
	 left:-220px;
 }
 
 #menuRight{
	 float: right;
 }
 
.menu ul li:last-child a { border: none; }
.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
.menu li:hover > a { color: #009ff1; }

#containerInfoRight{
	z-index:10000;
	position:absolute;
	bottom: 10px;
    left: 10px;
}

#foreground{
	z-index:10000;
	position:absolute;
}

#pencilSlider{
	z-index:10000;
	margin: 6px 0; 
	padding: 0 10px;
}

#sidebarItemSaveNotice{
	z-index: 10000;
	position: absolute;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
	color: white;
	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #4c4e5a 0%, #2c2d33 100%) repeat scroll 0 0;  
	background: -webkit-gradient(linear, center top, center bottom, from(#4c4e5a), to(#2c2d33));
	background: -webkit-linear-gradient(#4c4e5a, #2c2d33);
	border-radius: 5px;
}

#slid{
	width:100px;
	cursor:pointer; 
	margin-top:4px;
}

#colors{
	margin: 6px 0; 
	padding: 0 10px;
}

#submenItemName{
	background-color:#4c4e5a; 
	padding: 4px 0px 0px 40px; 
	width:180px;
}

#submenItemGroup{
	background-color:#4c4e5a; 
	padding: 4px 0px 0px 40px; 
	width:180px;
}

#submen{
	font-size: 13px; 
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold; 
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	text-decoration:none; 
	line-height: 28px;
	color: #f3f3f3;
	cursor:default;
}

.menu a.menuDraw { 
	padding-top: 2px;
}

.menu a.save { background: url(media/saveDraw.png) no-repeat 6px center; }
.menu a.download { background: url(media/downloadDraw.png) no-repeat 6px center; }
.menu a.import { background: url(media/importDraw.png) no-repeat 6px center; }
.menu a.refresh { background: url(media/refresh.png) no-repeat 6px center; }



