body
{
	background-color: rgba(255,255,255,1);	
	color: rgba(90,90,90,1);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}


#chat
{
	display: none;
	width:	350px;	
	margin-left: auto;
	margin-right: auto;		
}

#chatBox
{
	width:	350px;
	height:	200px;

	resize: vertical;
}



#selectUsernameBox
{
	width:	350px;
	margin-left: auto;
	margin-right: auto;	
}


input
{
	width: 330px;
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	border: 1px solid rgba(190,190,190,1);	
	resize: vertical;
}

.chatBoxServerName
{
	width: 100px;
	float: left;
	font-style: italic;
	color: rgba(140,140,140,1);		
}

.chatBoxUsername
{
	width: 100px;
	float: left;
}

.chatBoxMe
{
	background-color: rgba(222,222,222,1);	
}

.chatBoxTextUser
{
	width: 250px;	
	float: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.chatBoxTextServer
{
	width: 250px;	
	float: left;
	font-style: italic;	
	color: rgba(160,160,160,1);	
	white-space: pre-wrap;
	word-wrap: break-word;
}



.clear
{
	clear: both;
}